@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
}