@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;

  --brand-purple: rgb(79, 49, 123);
  --brand-purple-dark: rgb(54, 35, 90);
  --brand-green: rgb(129, 167, 65);
  --brand-blue: rgb(85, 150, 187);
}


/* Gradiente horizontal */
.bg-brand-diagonal {
  background-color: var(--brand-blue);
}

@media (min-width: 1080px) {
  .bg-brand-diagonal {
    background: linear-gradient(
      135deg,
      rgb(85, 150, 187) 30%,
      rgb(129, 167, 65) 30%,
      rgb(129, 167, 65) 70%,
      rgb(79, 49, 123) 70%
    );
  }
}



/* Purple */
.text-purple-700 {
  color: var(--brand-purple);
}

.bg-purple-700 {
  background-color: var(--brand-purple);
}

.bg-purple-900 {
  background-color: rgb(54, 35, 90);
}

.hover\:bg-purple-900:hover {
  background-color: rgb(54, 35, 90);
}

.border-purple-700 {
  border-color: var(--brand-purple);
}

/* Green */
.text-green-700 {
  color: var(--brand-green);
}

.bg-green-700 {
  background-color: var(--brand-green);
}

.hover\:text-green-700:hover {
  color: var(--brand-green);
}

.border-green-700 {
  border-color: var(--brand-green);
}


html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
}